<div class="sidebar">
  <div class="sidebar__title">
    <h1>Reddit Posts</h1>
  </div>
  <div class="sidebar__content">
    <mat-nav-list>
      <div *ngFor="let post of posts" [@EnterLeave]="'flyIn'">
        <app-sidebar-item [post]="post" (dismissPost)="onDismissPost($event)" (selectPost)="onSelectPost($event)"></app-sidebar-item>
      </div>
    </mat-nav-list>
  </div>
  <div class="sidebar__footer">
    <button mat-button color="accent" class="sidebar__footer__button" (click)="dismissAllPosts()">Dismiss All</button>
  </div>
</div>
