$sidebarTitleHeight: 80px;
$sidebarFooterHeight: 60px;
$sidebarWidth: 400px;

.sidebar {
  position: relative;
  height: calc(100% - #{$sidebarTitleHeight} - #{$sidebarFooterHeight});
  padding: $sidebarTitleHeight 0 $sidebarFooterHeight;
  width: $sidebarWidth;

  &__title{
    position: fixed;
    top: 0;
    left: 0;
    width: $sidebarWidth;
    display: flex;
    justify-content: center;
    align-items: center;
    height: $sidebarTitleHeight;
    background: #000000;

    h1 {
      color: #FFFFFF;
      margin: 0;
    }
  }

  &__content{
    height: 100%;
    overflow: auto;
  }

  &__footer{
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    width: $sidebarWidth;
    justify-content: center;
    align-items: center;
    height: $sidebarFooterHeight;
    background: #000000;
  }
}
